<div class="container" role="main">
  <div call="hero">
    <h1>Our products are fantastic!</h1>

    <% ab_test('call_to_action', 'Sign-up!', 'Join us', 'Go go go') do |text| %>
      <%= link_to(text, pages_signup_path, class: 'btn btn-primary btn-lg') %>
    <% end %>
  </div>
</div>
