<div class="container" role="main">
  <div call="hero">
    <h1>Thank you!</h1>

    <% finished('call_to_action') %>

    <%= link_to('Go back to the home', root_path, class: 'btn') %>
  </div>
</div>
